<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex flex-row justify-content-between">
  <a class="navbar-brand ms-3" href="/">live-chat</a>
  <h3 class="navbar-text me-3" id="username-badge"></h3>
</nav>